.Weather {
    --default-font-family: "Monteserrat", sans-serif; 
    background-color: white;
 }
 
 header {
     border-bottom: 1px solid rgb(221, 215, 215);
     padding: 0 0 20px 0;
 }
 
 .Weather-container {
     max-width: 700px;     
     margin: 50px auto;
     box-shadow: 0 30px 50px rgba(3, 7, 34, 0.8);
     padding: 50px;
     border-radius: 5px;
 }
 
 .Weather h1 {
     font-size: 38px;
     line-height: 48px;
     color: #111111;
     margin: 20px 0 10px;
 }
 
 .Weather .search-form-input {
     background-color: rgb(221, 215, 215);
     width: 75%;
     padding: 15px;
     border-radius: 4px;
 }
 
 .Weather .search-form-button {
     background: #111111;
     width: 23%;
     margin: 5px;
     padding: 15px;
     border-radius: 4px;
     color: white;
     font-size: 16px;
 }
 
 .WeatherInfo {
     font-size: 18px;
     line-height: 20px;
 }
 
 .WeatherInfo li {
     font-size: 18px;
     line-height: 20px;
     list-style: none;
     color: grey;
 }
 
 .WeatherInfo ul {
     padding: 0;
 }
 
 .Weather li strong {
     color: #f65282;
 }
 
 .WeatherInfo .temperature-container {
     display: flex;
     align-items: center;
     margin-top: 55px;
 }
 
 .Weather canvas {
     margin-right: 5px;
     
 }
 
 .Weather .temperature {
     font-size: 80px;
     margin-left: 10px;
     position: relative;
     top: 5px;
     right: 10px; 
     color:#111111;
 }
 
 .Weather .unit {
     font-size: 25px;
     position: relative;
     top: -35px;
     right: 14px;
     color:#111111;
 }
 
 footer a {
     color: #111111;
     cursor: pointer;
 }
 
 footer a:hover {
     color: #f65282; 
 }
 
 footer {
     border-top: 1px solid rgb(221, 215, 215);
     padding: 20px 0 0 0;
     text-align: center;
     font-size: 12px;
     color: grey;
 }